//colors
$color: rgb(238, 221, 130);
$lighter-color: #FAF3DD;
//font-stack
$font-stack: font-awesome,
sans-serif;
$header-font-stack:'Oswald',
arial narrow,
sans-serif;
//breakpoints
$break-point-1: 767px;

//typographic scale--kept here for reference
$ms-base: 1em;
$ms-ratio: 1.25;