/* From: http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height */
/* columns of same height styles */
.container-xs-height {
  display: table;
  padding-left: 0px;
  padding-right: 0px; }

.row-xs-height {
  display: table-row; }

.col-xs-height {
  display: table-cell;
  float: none; }

@media (min-width: 768px) {
  .container-sm-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px; }
  .row-sm-height {
    display: table-row; }
  .col-sm-height {
    display: table-cell;
    float: none; } }

@media (min-width: 992px) {
  .container-md-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px; }
  .row-md-height {
    display: table-row; }
  .col-md-height {
    display: table-cell;
    float: none; } }

@media (min-width: 1200px) {
  .container-lg-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px; }
  .row-lg-height {
    display: table-row; }
  .col-lg-height {
    display: table-cell;
    float: none; } }

/* vertical alignment styles */
.col-top {
  vertical-align: top; }

.col-middle {
  vertical-align: middle; }

.col-bottom {
  vertical-align: bottom; }

body {
  font-family: font-awesome, sans-serif;
  font-size: 21px;
  padding-top: 4em;
  position: relative; }
  @media (max-width: 767px) {
    body {
      font-size: 16px; } }

.container {
  padding-left: 2em;
  padding-right: 2em; }

/* Header css */
.navbar {
  background-color: #CEAC41;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em; }
  .navbar .navbar-brand {
    text-transform: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .navbar .navbar-brand span {
      padding-left: 0.33333em;
      color: white;
      font-size: 1.25em;
      line-height: 1.1810em; }
  .navbar a {
    color: #ebdeb8 !important;
    font-family: "Oswald", arial narrow, sans-serif;
    text-transform: uppercase;
    font-weight: bold; }
    .navbar a .active, .navbar a:hover {
      color: #4163ce !important; }

h1,
h2,
h3,
.highlight,
.navbar a {
  font-family: "Oswald", arial narrow, sans-serif; }

h1 {
  font-size: 2.44141em;
  font-size: 2.4414em;
  line-height: 1.2093em;
  margin-bottom: 0.6046em; }

h2 {
  font-size: 1.95312em;
  font-size: 1.9531em;
  line-height: 1.5116em;
  margin-bottom: 0.7558em; }

h3 {
  font-size: 1.25em;
  line-height: 1.1810em;
  margin-bottom: 1.1810em;
  max-width: 28.5714285714em; }

p {
  font-size: 1em;
  line-height: 1.4762em;
  margin-bottom: 1.4762em; }

li {
  font-size: 1em;
  line-height: 1.4762em;
  margin-bottom: 1.4762em; }

.img-float-left {
  float: left;
  margin-right: 1em; }

#masthead {
  min-height: 199px;
  background-color: #2d3033;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em 0;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  #masthead h2,
  #masthead p {
    text-align: center; }
  #masthead h2 {
    color: #fff; }
  #masthead p {
    color: rgba(255, 255, 255, 0.7); }

footer {
  background-color: #2d3033;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  color: white; }
  footer .small-paragraph {
    font-size: 0.8em;
    line-height: 1.8452em;
    margin-top: 1.8452em; }
  footer p, footer .small-paragraph, footer h3 {
    color: rgba(255, 255, 255, 0.7); }

.sidebar-nav {
  background-color: #454a4e;
  width: 20%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .sidebar-nav nav {
    position: fixed; }

.sidebar-nav ul {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  padding: 0;
  list-style-type: none; }
  .sidebar-nav ul li {
    margin-bottom: 0; }

.nav-title {
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  line-height: 1.4762em;
  margin-bottom: 1.4762em; }

.section-link {
  font-size: 0.64em;
  line-height: 2.3065em;
  color: rgba(255, 255, 255, 0.7); }
  .section-link:hover, .section-link:focus {
    color: #fff !important;
    text-decoration: none !important; }

/* Page specific css */
/* Specific css for statistics page */
.statistics-wrapper {
  padding-left: 0;
  padding-top: 2em;
  margin-left: 1em; }
