footer {
    background-color: $dark-grey;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    color: white;
    .small-paragraph {
        @include scale(-1) 
        line-height: 1.8452em;
        margin-top: 1.8452em;
    }
}