/* Header css */

.navbar {
    background-color: $gold;
    padding-top: 1em;
    .navbar-brand {
        text-transform: none;
    }
    a {
        color: darken(complement($gold), 20%) !important;
        font-family: $header-font-stack;
        text-transform: uppercase;
        font-weight: bold;
        &:hover {
            color: complement($gold) !important;
        }
    }
}
