/* Header css */

.navbar {
    background-color: $gold-light;
    a {
        color: $blue-dark !important;
        font-family: $header-font-stack;
        text-transform: uppercase;
        font-weight: bold;
        &:hover {
            color: $blue;
        }
    }
}

h1,
.lead {
    display: inline;
    font-weight: bold;
}

@media (max-width: 591px) {
    .lead {
        display: block;
    }
}
@media (max-width: 991px){
    p.hidden-xs {
        font-size: small;
    }
}