#masthead {
    min-height: 199px;
    background-color: $dark-grey;
    display: flex;
    padding: 1em 0;
    flex-flow: column nowrap;
    justify-content: center;
    h1,
    p {
        text-align: center;
    }
    h1 {
        color: #fff;
    }
    p {
        color: $grey;
    }
    
}
